<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-home.css' %}">
</head>
<body>
    <h1>Welcome To The Quiz Home</h1>
    <form method="POST" action="{% url 'quiz:quiz_page' session_id=session.id %}">
        {% csrf_token %}
        <label for="player_name">Choose Your Player:</label>
        
            <div class="character-selection">
                <!-- Hidden radio buttons -->
                <input type="radio" id="player1" name="player_name" value="Lily" hidden>
                <label for="player1" class="player-label">
                    <div class="character">
                        <img src="{% static 'images/player1.png' %}" alt="Lily">
                        <p>Lily</p>
                    </div>
                </label>

                <input type="radio" id="player2" name="player_name" value="Mia" hidden>
                <label for="player2" class="player-label">
                    <div class="character">
                        <img src="{% static 'images/player2.png' %}" alt="Mia">
                        <p>Mia</p>
                    </div>
                </label>

                <input type="radio" id="player3" name="player_name" value="Leo" hidden>
                <label for="player3" class="player-label">
                    <div class="character">
                        <img src="{% static 'images/player3.png' %}" alt="Leo">
                        <p>Leo</p>
                    </div>
                </label>

                <input type="radio" id="player4" name="player_name" value="Max" hidden>
                <label for="player4" class="player-label">
                    <div class="character">
                        <img src="{% static 'images/player4.png' %}" alt="Max">
                        <p>Max</p>
                    </div>
                </label>
            </div>

        <p>Click the button below to start the quiz.</p>
        <button type="submit" class="start-button">Start Quiz</button>
    </form>

    <script>
        // Add event listeners to each label to trigger radio button selection
        document.querySelectorAll('.player-label').forEach(function(label) {
            label.addEventListener('click', function() {
                // Check if the radio button is already checked, if not select it
                var radio = document.getElementById(label.getAttribute('for'));
                radio.checked = true;
            });
        });
    </script>
</body>
</html>
